################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/bin
/obj
/.vs
/ControlsLibrary/bin
/Con trolsLibrary/obj
/ControlLibrary/bin/Release
/ControlLibrary/obj/Release
