################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/ControlsLibrary/bin
/ControlsLibrary/obj
/.vs
/ControlLibrary/bin/Release
/ControlLibrary/obj/Release
