<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
	<appSettings>
		<add key="PlayMode"/>
		<add key="MainKey"/>
		<add key="Volume"/>
		<add key="VisionOrientation"/>
		<add key="LastPath"/>
		<add key="LiveLibrary"/>
		<add key="ExplicitContent"/>
		<add key="PlayOnPositionChange"/>
		<add key="RevalidateOnExit"/>
		<add key="RememberMinimal"/>
		<add key="WasMinimal"/>
		<add key="MouseTimeoutIndex"/>
		<add key="LastSize"/>
		<add key="LastLoc"/>
	</appSettings>
</configuration>
